
<div id="footer">
	<span>All photos copyright by Dan Reeder. No publication, including posting on social media sites, is authorized without prior approval.</span>
</div>
</div>
<script type="text/javascript" src="/js/menu.js"></script>
</body>
</html>