<% include partials/header %>

<div class="events-container">
	<div class="event-title">
		<h1>1975 Events</h1>
	</div>
	<div class="grid">
		<a href="/">
			<div class="events">
				<img src="/imgs/1-1.jpg">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">State</span>
					<span class="event-name">Lunchtime</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/No.2-2.jpeg">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">Festival</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/3-1.jpg">
				<div class="event-cover">
					<span class="event-name">Roxy</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/4-10.jpg">
				<div class="event-cover">
					<span class="event-name">Agoura</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/5-10.jpg">
				<div class="event-cover">
					<span class="event-name">Starlight Bowl</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/6-8.jpg">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">State with</span>
					<span class="event-name">Byron Berline</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/No.7-27.jpeg">
				<div class="event-cover">
					<span class="event-name">Dodger</span>
					<span class="event-name">Stadium</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/8-10.jpg">
				<div class="event-cover">
					<span class="event-name">Rodney at Long</span>
					<span class="event-name">Beach State</span>
					<span class="event-name">Cafe</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/9-34.jpg">
				<div class="event-cover">
					<span class="event-name">Palomino</span>
				</div>
			</div>
		</a>
	</div>
</div>
<% include partials/footer %>