<% include partials/header %>

<div class="events-container">
	<div class="event-title">
		<h1>1975 Events</h1>
	</div>
	<div class="note containerv2">
		<p>(Editor's Note: These photos are made available specifically for your viewing enjoyment. All photos are under copyright protection. Please do not download and post on social media sites. These photos, which include many of my "near misses," are only partially edited for your viewing and many show scanning marks, smudges, processing marks, slight our of focus and other nits. However, I have included them based on numerous requests over the years from specific Emmylou Harris fans who wanted to see my entire photo catalogue. Here it is.)</p>
	</div>
	<div class="grid">
		<a href="/1975/lunchtime">
			<div class="events">
				<img src="/imgs/1-1.JPG">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">State</span>
					<span class="event-name">Lunchtime</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/No.2-2.jpeg">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">Festival</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/3-1.JPG">
				<div class="event-cover">
					<span class="event-name">Roxy</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/4-10.JPG">
				<div class="event-cover">
					<span class="event-name">Agoura</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/5-10.JPG">
				<div class="event-cover">
					<span class="event-name">Starlight Bowl</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/6-8.JPG">
				<div class="event-cover">
					<span class="event-name">Long Beach</span>
					<span class="event-name">State with</span>
					<span class="event-name">Byron Berline</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/No.7-27.jpeg">
				<div class="event-cover">
					<span class="event-name">Dodger</span>
					<span class="event-name">Stadium</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/8-10.JPG">
				<div class="event-cover">
					<span class="event-name">Rodney at Long</span>
					<span class="event-name">Beach State</span>
					<span class="event-name">Cafe</span>
				</div>
			</div>
		</a>
		<a href="/">
			<div class="events">
				<img src="/imgs/9-34.JPG">
				<div class="event-cover">
					<span class="event-name">Palomino</span>
				</div>
			</div>
		</a>
	</div>
</div>

<% include partials/footer %>