<% include partials/header %>

<div class="coming-container">
	<div class="text">
		<h1>1976 Events Coming Soon</h1>
		<p>10.	Not available.</p>
		<p>11.	Not available.</p>
		<p>12.	Promotion al shots of Emmylou Harris for Music Man amplifiers. Taken in the San Fernando Valley.</p>
		<p>13.	Head and band shots of Emmylou Harris and the Hot Band including James Burton, Emory Gordy, Glen D. Hardin, Rodney Crowell, John Ware and Hank DeVito.</p>
		<p>14.	Not Available. </p>
		<p>15.	Irvine Bowl in Laguna, California. Final event for me taking photos of Hot Band with James Burton on lead guitar prior to his departure to play for John Denver.</p>
		<p>16.	Branding Iron in San Bernardino, California. First event for me taking photos of the Hot Band with Albert Lee on lead guitar.</p>
		<p>17.	Knott's Berry Farm in Buena Park, California.</p>
		<p>18.	Promotional photos for the Second Annual Banjo, Fiddle and Guitar Festival at California State University, Long Beach with horses including Emmylou Harris, daughter Hallie, members of the Hot Band, Nicolette Larson and others. Event set up by my sister-in-law Carol Rose Reeder in Rolling Hills, California who loaned us her horses.</p>
		<p>19.	Second Annual Banjo, Fiddle and Guitar Festival at California State University, Long Beach with Emmylou Harris and the Hot Band leading, Guy Clarke with Rodney Crowell sitting and a young Jimmy Buffett opening. Photos include Susanna Clarke. A very young Sweethearts of the Rodeo with Janis and Kris Oliver (m next door neighbors from Manhattan Beach) won the amateur competition.</p>
		<p>20.	Red Rocks Ampitheater outside Denver, Colorado. Lots of back stage photos. Incredibly beautiful venue but it was an ill-fated show as the band's equipment truck was stolen the night before in Chicago. Only Emmy's hand-carried black Gibson was not taken. The crew scrambled all day to get replacement gear in time for the show. They were successful for all pieces expect a pedal steel guitar for Hank. He played tambourine on a few songs. Albert's rare Bender B was returned some years later when a fan recognized it hanging in a pawn shop, bought it and returned it to him.</p>
		<p>21.	Follow-up show in Aspen, Colorado. </p>
		<p>22.	Headlining at Universal Studios in Universal City, California with Kenny Rogers opening. The amphitheater was an outdoor venue at that time.</p>
		<p>23.	Arlington Theater in Santa Barbara, California. Emmy and the Hot Band would play there many times over the years. The indoor theater is modeled in a California Mission style courtyard with a stage at one end. One of the most beautiful locations for a show.</p>
		<p>24.	John Ware promotional photos for Tama Drums. Taken in the San Fernando Valley.</p>
		<p>25.	Emmy duet with Jimmy Buffett at the Santa Monica Civic Arena in Santa Monica, California. Turns out my name wasn't of the list at the door and I waited outside patiently for a good 30 minutes. Since it was a Jimmy Buffett event, I knew no one there to come rescue me. Then an Angel arrived and saved me. It was Emmy arriving to sing her one song with Buffett. She saw me standing there with this look on my face and asked what was wrong. I told her. Then she looked at the very big security guy at the door and said "I'm Emmylou Harris and my name is on the list with my husband. Well, this is my husband. He is coming in with me." And so I did.</p>
		<p>26.	Herb Pedersen head shots for the montage I was producing for the Luxury Liner album (see item LL Montage in the Book section). A fine singer, great musician and true gentleman in my book.</p>
		<p>27.	The Palomino again in North Hollywood, California with Faysouix Starling and late magician and actor Ricky Jay opening.</p>

	</div>
</div>

<% include partials/footer %>