<% include partials/header %>

<div class="coming-container">
	<div class="text">
		<h1>1977 Events Coming Soon</h1>
		<p>28.	Head shots of Emmylou Harris, the Hot Band, crew and family/friends taken in the San Fernando Valley.</p>
		<p>29.	Studio shots for the recording of Rodney Crowell's first album Ain't Living Long Like This. Taken in the home in the Hollywood Hills used by producer Brian Ahern in conjunction with the Enactron Truck mobile recording studio, which was parked in the driveway. The home was divided into various spots with each musician cordoned off with sound baffles like an aerospace radar chamber. It seemed like a good idea having a photographer come up and take photos while they were working, but in practice it didn't work out so well. I got some great shots, but was clearly a distraction even though I tried to be low key. The photos were never used and I didn't look at them again for nearly 40 years. But when I did, wow, were they good. Included in the photos is perhaps the finest I ever took of Emmy. And I had forgotten she was there that day. To see that photo, go to The Book page here. And see all of the shots from the recording session, go here.</p>
		<p>30.	Unknown venue. Turns out that sometimes I didn't mark my negative sleeves properly. And I was a working newspaper reporter at the time known for taking good notes. Had I known that 40 years important that the information was important then I might have done better. Oops. My bad. (Editor's Note: Around this time I was promoted to a full time reporter slot in the news section at the Daily Breeze Newspaper in Torrance, Calif. and I became less available to shoot photos.)</p>
		<p>31.	Not Available.</p>
		<p>32.	Emmylou Harris and the Hot Band at the Universal Studios Amphiteater at Universal City, California. Dolly Parton came on stage during part of the performance as did Emmy's daughter Hallie. Emmy opened the show by announcing that she was not only the headline performer, but also the opening act as well. That was, she said, because when she played Universal in 1976 her opening act was Kenny Rogers. He was attempting a comeback in his career where I had actually seen him perform as a Las Vegas lounge act earlier in 1976 and was booked to open for her that summer. He was great. But later that year, he released The Gambler album and his career took off again, never to return to lounge act status. So Emmy said she was opening for herself and hoping her career would take off in a similar fashion. The crowd roared. She was great.</p>
		<p>33.	Not available.</p>
		<p>34.	Unknown venues. Oops. My bad.</p>


	</div>
</div>

<% include partials/footer %>