<% include partials/header %>

<div class="coming-container">
	<div class="text">
		<h1>1979 Events Coming Soon</h1>
		<p>35.	Rodney Crowell at the Fifth Annual Banjo, Fiddle and Guitar Festival at California State University, Long Beach. With Emmy out on pregnancy hiatus, Rodney became the lead act with Herb Pedersen playing in his band. John Prine was an opening act. </p>
		<p>36.	Rodney Crowell and a whole lot of friends at the Sweetwater Café in Redondo Beach, Calif. Guest performers included Emmylou Harris, Roseanne Cash, Ricky Skaggs, Albert Lee, Tony Brown, Faysouix Starling and Willie Nelson who snuck on stage behind Rodney. Also included was Lonnie Donegan, the "King of Skiffle" credited with being a strong music influence to the Beatles. </p>
		<p>37.	The wedding party for Albert and Karen Lee in Malibu, Calif. featuring a very pregnant Emmylou Harris and numerous members of the Hot Band.</p>
		<p>38.	Unknown shows from the 1970s. My bad.</p>


	</div>
</div>

<% include partials/footer %>