<% include partials/header %>

<div class="coming-container">
	<div class="text">
		<h1>1980 Events Coming Soon</h1>
		<p>39.	Another show at the beautiful Arlington Theater in Santa Barbara. The Hot Band included a mix of original members and new additions. Still sounded great.</p>
		<p>40.	Emmy once returns to the Sixth Annual Banjo, Fiddle and Guitar Festival California State University, Long Beach with Ricky Skaggs and the Whites. An opening act was the great Chicago folk singer Steve Goodman singing with Ken "Jethro" Burns of Homer and Jethro. They were a special treat. Goodman, who was in his final years suffering from leukemia, had recently moved to the area.</p>
		<p>41.	Emmy returns to Universal Studio.</p>



	</div>
</div>

<% include partials/footer %>