<% include partials/header %>

<div class="coming-container">
	<div class="text">
		<h1>1981 Events Coming Soon</h1>
		
		<p>42.	Rodney Crowell and his super group the Notorious Cherry Bombs with Vince Gill. At the time, I don't think we regarded it as a super group since Rodney had often just collected a bunch of friends and went out and played, but that label got attached to the group over time. And then there was an album. I didn't </p>
		<p>43.	Rodney Crowell and the Cherry Bombs again, this time at the famous Golden Bear in Huntington Beach, California. Emmylou Harris attended.</p>
		<p>44.	Emmylou Harris once again at the Arlington Theater in Santa Barbara, this time with a newly revamped Hot Band. Yes, again, they sounded great. Also, the first time I noticed her doing an official autograph session. These photos were taken towards the end of my photography time with Emmy and I don't think we did anything with them, except just stash the negatives away. However, when I was going through the scans again in preparation for launching this web site, I realized there were three of my best shots ever of her hiding among the others. You can find them in the additional photos section of The Book photos. Those images show a chiseled look and upscaled wardrobe, far from the jeans and cow girl shirt of my first shoot with her in 1975. I just went "Wow when I saw them.</p>
		<p>45.	Another unknown venue with new members of the Hot Band. Oops.</p>
		<p>46.	Not available.</p>



	</div>
</div>

<% include partials/footer %>