<% include partials/header %>
<div class="container">
	<div class="title">
		<h4>About</h4>
	</div>
	<div class="content">
		
		<p>
			I started writing sports for a local paper as a somewhat unprepared 15-year old and slowly developed my skills into a decent newspaper reporter.
			<img src="/imgs/DanwithEmmy.jpg" class="about-img">
			<span></span>
			History repeated itself some years later when a college friend, soon to be Emmylou Harris's first road manager with her Hot Band, asked if I had a camera and could take photos of her singing on campus. I said sure, not yet realizing I was again unprepared. But I took photos at that first event in early 1975, did well enough to be asked back and vowed to learn more quickly this time around. 
		</p>
		<p>
			Some years later, after three dozen-plus "live shoots" later, I had developed my skills event by event and amassed a large catalogue of very early photos of now 14-time Grammy winner Emmylou Harris. Many were good enough to be sold for publicity photos, event posters, songbooks, record sleeves and other uses including the dust cover for her Luxury Liner album using a self-developed photographic montage technique. Along the way, I also shot photos of Rodney Crowell, James Burton, other original Hot Band members, George Thorogood and many others including people from other walks of life. But the shots of Emmy during her early years have turned out to be something special. It was during a period in her life where her natural beauty just radiated from her in person and on stage. If you met her or saw her perform during those early years, then you know what I mean. I worked hard to capture that unique beauty in my photos.
		</p>
		<p> 
			More recently, dozens of my photos of Emmy and others were used in the 2018-19 exhibit on her at the Country Music Hall of Fame and Museum in Nashville and the 2019 Ken Burns documentary on Country Music.
		</p>
		
		<p>
			After 12 years as a part-time and full-time newspaper reporter and a short stint in political public relations, I spent 33 years as a corporate communications manager in 
			<img src="/imgs/DanatColiseum1981.jpg" class="about-img left">
			<span></span>
			the aerospace industry where I personally handled media relations and supervised talented and skilled creative teams of designers, web experts, videographers and photographers to support company branding and product support projects. I traveled the world and worked with incredible brilliant scientists, engineers, war veterans and astronauts. I won numerous awards for my work including a Telly and a public service medal from the Secretary of the Navy. I have had more than 7,000 written pieces and 1,000 photos published as well as producing and/or directed photos for more than 150 magazine covers and dozens of video projects.
		</p>
		<p>
			But this web site is devoted to my personal photography. As I shot more and more events with Emmylou Harris is the first years of her solo career, she and the members of the Hot Band felt comfortable with having me around. That allowed me unique access to finding the best spots around the stage to photograph her. While I shot from nearly every angle, my favorite spot was just to the left of pedal steel guitar player Hand DeVito. That angle allowed me to be on the same level as Emmy, so I wouldn't be shooting "up her nose" and I could avoid having the microphone in her face all the time. Plus it put her guitar somewhat behind her and not blocking her. I felt it imperative to put her as the focal point and let the other items frame her. 
		</p>
		<p>
			Eventually, I tired of getting the same old standard shots from show to show and developed a new approach. I determined to carefully angle myself to be able to shoot her with as little background as possible and use the venue stage lights to highlight her, especially her high cheekbones. As a black and white specialist, I used the dark shadows to my advantage. It also took timing on my part, but thanks to my sports photography background, I was good at anticipating her moves. The result gave me live action shots that looked like studio shots. Of course, since the venue lighting in those days was generally poor and I "pushed" the black and white film in my home darkroom, my shots showed both a bit of grain and occasionally motion. But my new approach resulted in my own unique style of live action shots.
		</p>
	</div>
</div>
<% include partials/footer %>