<% include partials/header %>
<div class="event-title">
	<h1>Agoura</h1>
</div>
<div class="desc">
	<p>
		Outdoor show in Agoura, California with Byron Berline on fiddle and Brian Ahern on acoustic bass. 
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/4-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-2.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-10.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-13.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-16.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-17.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-20.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/4-21.JPG">
	</div>
</div>




<% include partials/footer %>