<% include partials/header %>


<div class="container">
	<div class="title">
		<h4>The "Book"</h4>
	</div>
	<div class="content">

		<p>
			The "Book" is collection of photos taken of Emmylou Harris between 1975 and 1982 and compiled in a book form reminiscent of the photo portfolio carried by her road manager, Steve Redfern, during those years. A lot of my photos were chosen for studio publicity, posters or songbooks and the leftovers were given to band members and/or placed in The Book where they would be available to be autographed by Emmy for special visitors and select fans at her shows.
		</p>
		<p>
			Some of these photos may be familiar to you while others you've never seen before. While I have thousands of photos to choose from, I have picked out these to highlight Emmylou Harris and the Hot Band. Thanks to digital technology, I am able to present a selection of my best photos in a form respectful of Emmylou Harris and close to what I intended when I initially shot them. You are now able to see her and her band members as I saw them through the lens of my camera.
		</p>
		<p>
			These custom, hand printed 8-1/2 by 11 photos are meant to be enjoyed in The Book or taken out from behind the plastic protectors for closer study or even framing and autographing, if you so desire. A detailed description of each photo is in the back along with several bonus tracks photos.
		</p>

		<p>Interested in learning more about <a href="/book/captions">The "Book"</a> click <a href="/book/captions" style="font-weight: 600;">here.</a></p>
		<div class="disclaimer">
			<p>
				All photos copyright Dan Reeder. 
			</p>
			<p>
				For personal use only.
			</p>
			<p>
				Please don't publish or post without permission. December 2018.
			</p>
		</div>
	</div>
</div>

<% include partials/footer %>