<% include partials/header %>
<div class="container">
	<div class="title">
		<h4>The "Book"</h4>
		<h5>Best of the Best</h5>
	</div>
	<div class="content">
		<p>
			When I first started shooting photos of Emmy in early 1975, I was an experienced but not expert sports writer and sometime photographer. I knew little of her background, little about how to shoot photos of a singer performing and little about whether I'd do it more than once. But a little success got me invited back and there I stayed for several years. I didn't take many portraits of her, primarily because I wasn't good at it and other photographers they used were gifted talents who knew how to bring out her beauty. So I focused on shooting her at live events and tried to capture that same beauty they saw as she performed. Emmy once remarked that she rarely saw me taking photos, although I was usually stationed to Hank's left on the edge of the stage where I could get an unobstructed view of her as she pulled back from the microphone. So my photos of her are as natural and unstaged as you can get. And I never used flash, so I was at the mercy of the lighting and my skill in the darkroom. Thank goodness for modern digital scanning, Photoshop and high end home photo printers. I can now bring new life to these 40 years old or so images.
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#19-115</h3>
		</div>
		<img src="/imgs/No.19-115.jpeg" class="left">
		<p>
			But we start with a portrait. One of just a couple dozen or so I took of her in three separate sessions. I chose to lead with this close-up because you can see how Emmylou Harris, in her late 20's and early 30's, was as natural a beauty as I've met. This photo was taken at the Banjo, Fiddle and Guitar Festival at California State University, Long Beach (my school) in April 1976. It is one of a series of 12 or more virtually perfect portrait shots in about 30 seconds. #19-115
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#2-2</h3>
		</div>
		<img src="/imgs/No.2-2.jpeg" class="left">
		<p>
			The second photo is one of the first important shots I took of her. Taken at the Banjo, Fiddle and Guitar Festival at California State University, Long Beach (my school) in April 1975. The show producers were negotiating to book Linda Ronstadt just as she was releasing her Heart Like a Wheel album in late 1974. Linda agreed, on one condition. They also had to book her good friend, Emmylou Harris, who was getting ready to put out her own album and form a new band. The producers readily agreed. Before thousands out door on the grass, was one of Emmy's first solo performances with the Hot Band. And the start of a mutual love affair with Long Beach fans. And I got my first good shot. #2-2
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#17-13</h3>
		</div>
		<img src="/imgs/No.17-13.jpeg" class="right">
		<p>
			I didn't like shooting from this side, because the microphone would always get in the way. This is one of the few where it was a little to the side. This was taken at Knott's Berry Farm in early 1976 just after Albert Lee had joined the band, replacing James Burton, who decided to play for John Denver and while still maintaining his band leader and lead guitar player status with Elvis. As was the norm in those days, lighting was terrible and I had to "push" the film. Shots were not always crisp, as in this case. #17-13
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#9-45</h3>
		</div>
		<img src="/imgs/No.9-45.jpeg" class="right">
		<p>
			This is why I liked to shoot from this side and why I worked hard to excel at black and white photography. Taken in late 1975 at the world famous Palomino night club in the San Fernando Valley. Again saddled with terrible lighting, I got one of my best ever shots of Emmy. A little soft, I'll put this photo up against just about any of the super models of the day. She was definitely in that class in my book … the one you're holding. #9-45
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#7-27</h3>
		</div>
		<img src="/imgs/No.7-27.jpeg" class="left">
		<p>
			Now one of my most famous shots ever thanks to the Country Music Hall of Fame and Museum in Nashville where it is blown up to 12 feet by 7 feet in the Emmy exhibit. It took me a while to first sell it. When Emmy and the Hot Band opened for Elton John in late October 1975, they took me along. As usual by then, I had the run of the perimeter of the stage. After shooting from the side, I asked if I could get on the riser holding Elton John's clear Lucite piano behind a curtain in back of Emmy and the Hot Band playing in front. They said yes, and I positioned myself right in back of John Ware, parted the curtain enough to get my lens through, and shot away. This photo was taken as they played Shop Around, which allowed James Burton to do an extended guitar solo. That is why Emmy is turned from the crowd. I was told Elton asked her to open because he liked her guitar player. So did 50,000 new fans that day. #7-27
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#7-51</h3>
		</div>
		<img src="/imgs/No.7-51.jpeg" class="left">
		<p>
			It was a two-day concert with Emmy opening both days and Joe Walsh going next before Elton John played. It was a long couple of days. But I was so keyed up that when I got home after the first show I went into the dark room and processed my black and white negs and made prints to hand out to the band the next day. For the weekend, I ended up with 300-plus shots. I chose this one because it includes Rock and Roll Hall of Famer James Burton and Country Music Hall of Famer Emmylou Harris in action along with Hank DeVito to the right, who incidentally is a great a photographer as he is a musician and song writer. #7-51
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#7-118</h3>
		</div>
		<img src="/imgs/No.7-118.jpeg" class="right">
		<p>
			Here is Emmy with her recording company artist representative and good friend, Mary Martin, who helped guide her in those early years as she went solo. Taken backstage at Dodger Stadium before Emmy was to go on stage before tens of thousands pop fans, most of which would become country-rock fans by the end of the day. Mary is credited with coining the term "Hot Band" as in telling Emmy she needed one. She listened and got one. In that first year, a lot of people came to see James as much as they came to see Emmy. But they came back. To see Emmy. #7-118
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#41-50</h3>
		</div>
		<img src="/imgs/No.41-50.jpeg" class="right">
		<p>
			Taken in 1980 at Universal Studios Amphitheater in summer 1980 when it was still an outdoor venue. This was after giving birth to her second child and she was touring again. She wore a simple almost matronly dress but with a flower in her hair, which I had never seen before. I came away with an equally simple, but very flattering shot, letting the dark background highlight her in the harsh concert light. It was a technique I used often with great success at Universal. #41-50
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#19-109</h3>
		</div>
		<img src="/imgs/No.19-109.jpeg" class="left">
		<p>
			Nothing more than a simple back stage shot with two of her music friends, this photo has grown in improtance over the years. It is used in the Country Music Hall of Fame and Museum exhibit on Emmy to complement the short piece on her collaborations. Here she is with Guy and Susanna Clark backstage at the Banjo, Fiddle and Guitar Festival at California State University, Long Beach in April 1976. Guy was an opening act to Emmy's headlining. And Rodney Crowell did double duty that day playing with Emmy as well as Guy, one of his longtime collaborators and heroes. #19-109
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#19-5</h3>
		</div>
		<img src="/imgs/No.19-5.jpeg" class="left">
		<p>
			It was a photographer's dream day to shoot an outdoor concert at the Banjo, Fiddle and Guitar Festival at California State University, Long Beach in April 1976. The sun was low in the sky and soft providing the perfect natural lighting to shoot Emmy. And her pink blouse and satin over shirt contrasted nicely with the blue skies. Here she turns to the side as if she was posing for me with Rodney Crowell and Glen D. Hardin in the background. I shot with two cameras those days and got more than a dozen perfect all nearly identical to this one. Warner Brothers picked one of the series as a publicity photo for that summer's tour. I'm sure this one makes super models jealous. #19-5
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#19-30</h3>
		</div>
		<img src="/imgs/No.19-30.jpeg" class="right">
		<p>
			A never seen before photo of Emmy and a few friends playing to the 10,000 or so fans at the Banjo, Fiddle and Guitar Festival at California State University, Long Beach in April 1976. From left to right, Hank DeVito in the hat, Emmy, Greg "Fingers" Taylor of the Coral Reefers, Jimmy Buffett dancing with Susanna Clark, Rodney Crowell (hidden behind Buffett), Guy Clark, Glen D. Hardin, Albert Lee, Emory Gordy and John Ware just off to the right out of the frame. #19-30
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#32-86</h3>
		</div>
		<img src="/imgs/No.32-86.jpeg" class="right">
		<p>
			Emmy at Universal again, this time in 1977. When she headlined Universal in 1976, her opening act was Kenny Rogers. When she headlined in 1977, she had no opening act. In the year in between those two performances, Kenny Rogers had gone from playing lounges in Las Vegas (yes, I saw him there, so I was an eye witness) to releasing The Gambler. His career had rebounded to where he was entering the stratosphere of entertainers. So when Emmy came on stage to start her performance in 1977, she remarked as to what the intervening year had meant for Roger's career after he had opened for her the year before. She said she was going to be the opening act for her own headlining the show and see what the next year would bring for her. The crowd, immediately seduced by her wit, roared with laughed and approval. #32-86
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#9-54</h3>
		</div>
		<img src="/imgs/No.9-54.jpeg" class="left">
		<p>
			Taken at the Palomino in the San Fernando Valley in late 1975. An early attempt of mine to capture her beauty in a low light condition. I was still learning. However, it has been out in public before and fans just seem to enjoy it immensely. So it is included in the book. #9-54
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#20-47</h3>
		</div>
		<img src="/imgs/No.20-47.jpeg" class="left">
		<p>
			Taken backstage at the Red Rocks Amphitheater outside Denver, Emmy was smiling, but just for the shot. Easily the most beautiful music venue I've ever enjoyed. Unfortunately, the day and show wasn't enjoyed much by Emmy and the Hot Band. Their equipment truck was stolen the night before in Chicago outside their show. The only thing saved was Emmy's black Gibson, which was being hand carried. So the band waited back stage for hours the next day as the road and equipment managers worked to get replacement gear in time for the show. They got everything but a pedal steel guitar for Hank, who played tambourine for much of the show. Emmy had her daughter, Hallie, with her for the entire day. So there were some smiles. #20-47
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>LL Montage</h3>
		</div>
		<img src="/imgs/LL Montage.jpeg" class="right">
		<p>
			The dust cover for the Luxury Liner Album, the follow-up to her Grammy winning Elite Hotel Album. I used a montage technique where I exposed seven negatives on a single sheet in the darkroom, all in the blind. I had earlier done a personal piece for Emmy with multiple photos of her with her first daughter, Hallie, and she was impressed enough by it that she asked me to use the same technique for the album. It was unchartered territory for all of us, but I took my time and pulled it off. (I know what you're thinking. Anybody with a modest understanding of Photoshop can do this in two hours. But I created this in 1976, some 15 years before Photoshop was invented.) It got approval from Emmy and Brian Ahern, and then was approved by the Warner Brothers art director, Ed Thrasher, who was also an exceptional photographer. I created the montage so that the touring band was featured in the main body with drop-ins for prominent studio musicians including harmonica player Mickey Raphael, fiddle player Ricky Skaggs, road manager Steve Redfearn, singer and guitarist Herb Pedersen, the equipment managers by the bus with John and Rodney, and James Burton, who continued to play on her albums. LL Montage
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#32-65</h3>
		</div>
		<img src="/imgs/No.32-65.jpeg" class="right">
		<p>
			At Universal again in 1977 or 1978. One of my several "art" shots of her. I was beginning to feel more natural when I took photos of her there, and I just had to wait for the right moment to capture her. It is one of the few shots where she is turned to her left, which is directly in front of me from my normal shooting position, and allows a great shot playing her guitar without that pesky microphone getting in the middle of her face. And the lighting accentuates her fabulous profile. #32-65
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#15-2</h3>
		</div>
		<img src="/imgs/No.15-2.jpeg" class="left">
		<p>
			Taken at the Irvine Bowl in Laguna Beach, California in April 1976 where the famous Pageant of the Masters is held each year. The show was one of the last domestic shows with James Burton in the Hot Band. He would soon depart to play in John Denver's band while still maintaining his spot with Elvis and the TCB band. You'll notice a little motion in this shot. That's because to get good results in the more often than not low light conditions, I was forced to us slower lens speed resulting in a little motion in some shots, more in others. It wasn't too noticeable when Emmy was playing the guitar, but almost always showed up when she was playing the tambourine, as with this photo. #15-2
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#38-24</h3>
		</div>
		<img src="/imgs/No.38-24.jpeg" class="left">
		<p>
			A bit of an unusual shot from me because I was positioned on the opposite side of the stage next to Glen D. Hardin and his piano. This allowed me to get this nice shot of Emmy howling at his playing while James Burton looks on. Emory Gordy is off to the left and Rodney is playing rhythm guitar on the right. It was taken in late '75 or early '76, but not sure exactly when or where. It was one of the few times I didn't mark the negative file properly. Oops. #38-24
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#37-13</h3>
		</div>
		<img src="/imgs/No.37-13.jpeg" class="right">
		<p>
			An eight-months plus pregnant Emmy with her second child at the wedding party for Karen and Albert Lee in Malibu, Calif. Papa-to-be Brian Ahern and bassist Emory Gordy are visible in the background shadows. A full-blown show in a large living room filled with 100 or so family and guests. Singers and musicians took turns including Emmylou Harris. She wasn't going to let a little pregnancy get in the way of her fun. And this is perhaps the only photo I took of her performing with a flash attached to my camera. #37-13
		</p>
	</div>
	<div class="caption special">
		<div class="caption-title">
			<h3>#22-18 #22-1 #22-6</h3>
		</div>
		<div class="three-photos">
			<img src="/imgs/No.22-18.jpeg" class="left">
			<img src="/imgs/No.22-1.jpeg" class="left">
			<img src="/imgs/No.22-6.jpeg" class="left">
		</div>
		<p>
			These three are part of my "art" series. At least, that's what I'm calling them now. These three were taken at the Universal Amphitheater in 1976 and 1977. I was getting experienced enough to experiment a little at the shows and attempt to get results that I had been imaging in my head, and not just shooting what I was seeing in front of me. That meant angling a bit to avoid lights, microphones, equipment stands, etc. In essence, I was trying to get the same results a photographer might achieve in a controlled shoot session such as in a studio where they could control the lighting, background, model poses and everything else involved. But with a live shoot at a concert, a photographer has no real control and must get what they can by good timing and a good eye. In my case, since I was literally on the edge of the stage, I had to be careful not to do anything too obvious for fear of interrupting Emmy and the band as they performed.  #22-18   and #22-1 and #22-6
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#29-79</h3>
		</div>
		<img src="/imgs/No.29-79.jpeg" class="left">
		<p>
			The Lost Photo. Taken in 1977 as Emmy took part in the recording of Rodney Crowell's debut solo album Ain't Living Long Like This in the Hollywood Hills with Brian Ahern producing and engineered with the Enactron Truck. Members of the band were located in various rooms of a house atop a small side valley and were surrounded by sound baffling material. Mickey Raphael, for instance, was situated in a bathroom apparently becasuse the acoustic qualities were perfect for his hamonica playing. I was tasked with taking shots of each individual in their work areas while they were recording. Sounded like a great idea at the time, but it seems having a photographer in their face while they are trying to focus on perfecting a song did not go over well. And I didn't blame them. So I got shot each artist quickly using with availble light or redirecting a nearby lamp to illuminate my subjects. With Emmy, I took what seemed at the time of a nothing snapshot, getting it in just a few seconds so as not to bother her, but to still properly document the session. I don't think I even tried to rearrange any lighting. I just shot what I saw. Then I returned home, processed my film and sent back proof sheets for review. I heard nothing back, the shots were never used for any purpose and the negs sat in my files probably never to be seen again. But in late 2016, I received a phone call from a Ken Burns Films producer asking if I had any good shots of Emmylou Harris that they might want to consider for a documentary they were doing on country music. That call started the ball rolling and I spent five weeks in early 2017 digitizing my entire set of negatives. I sent them 1,900 images to review and they chose 11 for their final film. This one didn't make it, probably because it didn't fit the story line, but it made my book. Lost after 39 years, and finally found. It looks like a simple photo, but study it closely and you'll see it is my most intimate photo of Emmy yet. #29-79
		</p>
	</div>
	<div class="subtitle">
		<h3>Additional Photos</h3>
		<span class="slider slide-bottom"></span>
		<span class="slider slide-top"></span>
		<span class="slider2 slide-left"></span>
		<span class="slider2 slide-right"></span>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#4-12</h3>
		</div>
		<img src="/imgs/No.4-12.jpeg" class="left">
		<p>
			Taken in Agoura, Calif. in early 1975, this was my first important photo of Emmy. She was playing outdoor to a very friendly crowd with Rodney Crowell, Emory Gordy, Byron Berline and John Ware on a small drum set, with Brian Ahern on acoustic bass. Hank DeVito was nearby in the audience as was early fan Jackson Browne. It was one of my earliest shoots and one that set the stage for me for years to come. I took a handful of nice shots at the show but came away feeling I hadn’t gotten anything special. Later, as I went through the negatives in the darkroom, I wasn’t impressed with any of them. I particularly did not care for this one but figured I should print it anyway and pass it on to Emmy and Brian with my other shots for review. Turns out she loved it. As did Brian. And everyone else they shared it with. The record company sent it out as my first Emmylou Harris publicity photo. Within weeks, it had been printed in publications all over the world, including Melody Maker (the top music tabloid of its day) and even People Magazine. Go figure. What did I know? I had a lot to learn.
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#32-1</h3>
		</div>
		<img src="/imgs/No.32-1.jpeg" class="right">
		<p>
			Another soft photo of Emmy in another striking outfit, this time at Universal in '76 or '77. And yes, I wish it were a little sharper. But the Universal Amphitheater had very harsh lighting in those outdoor days. It was very tough to get the exposures and speeds just right. It wasn't good enough to make the main section but I thought it deserved to be a Bonus Photo. #32-1
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#19-156</h3>
		</div>
		<img src="/imgs/No.19-156.jpeg" class="right">
		<p>
			Sound check for the Banjo, Fiddle and Guitar Festival at California State University, Long Beach in April 1976. Taken the day before the event, so I was allowed to get shots of them performing that I could never be able to get during a performance. As I recall, this was the set-up for the four-part harmony on two mics for Hello Stranger with Emory Gordy on mandolin, Rodney Crowell, Albert Lee and Emmy on her acoustic guitar. #19-156
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#41-37</h3>
		</div>
		<img src="/imgs/No.41-37.jpeg" class="left">
		<p>
			Taken in 1980 at Universal Studios, this is perhaps the last good performance photo I took of Emmy before I moved on in my career in the aerospace industry. Somewhat unique from my normal style, this photo presents her in a straight-on shot as though I was in front of the stage. Again, I was able to get a perfect pose without the bothersome stage lights in the background or microphones and equipment stands in front of her. #41-37
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>#1-7</h3>
		</div>
		<img src="/imgs/No.1-7.jpeg" class="left">
		<p>
			Emmy and Rodney perform in the quad in front of the student book store at California State University, Long Beach in March 1975 to promote the upcoming inaugural Banjo, Fiddle and Guitar Festival. Linda Ronstadt was headlining and Emmy was an opening act. She had just formed the Hot Band and this was an opportunity to get in front of a friendly crowd, albeit mostly a bunch of students pausing while in between classes. I know Rodney was there, but can't recall who else from the band was there since my photos don't include an overall shot. This was my first real shoot with Emmy and I had a lot to learn. Emmy and Rodney often would perform for free at the school over those years. We were all spoiled. #1-7
		</p>
	</div>
	<div class="caption special">
		<div class="caption-title">
			<h3>#44-15 #44-17 #44-23</h3>
		</div>
		<div class="three-photos">
			<img src="/imgs/No.44-15.jpeg" class="left">
			<img src="/imgs/No.44-17.jpeg" class="left">
			<img src="/imgs/No.44-23.jpeg" class="left">
		</div>
		<p>
			Shot late during my time taking photos of Emmy, images No. 44-15, No. 44-17 and No. 44-23 were taken in 1981 at the Arlington Theater in Santa Barbara where she had played many times. Indoors, the theater is reminiscent of a California Mission style courtyard with a stage at one end. It is always a perfect setting for one of her shows. These photos show her in a transitional phase in the early 1980s as she began to embrace a bit more glam compared to her approach in the 1970s. A little more make-up to enhance her beauty, an upscale style of clothes and a bit more exuberance in her performance. Her chiseled face in the photos contrasts to her earlier years and is probably due to her personal regime following the birth of her second child a couple of years earlier.
		</p>
	</div>
	<div class="caption">
		<div class="caption-title">
			<h3>Dan with Emmy</h3>
		</div>
		<img src="/imgs/DanwithEmmy.jpg" class="left">
		<p>
			Emmy and me. Taken in 1981 at her California home after the wedding of Steve and Liz Redfearn. Not in the book, but included here since my longtime girlfriend, Rachel, said it would be a good idea. No number.
		</p>
	</div>
	
	<div class="content">
		<p>The Book is available for purchase. Please <a href="/contact" style="font-weight: 600;">contact me</a> if you're interested.</p>
	</div>
</div>


<script type="text/javascript" src="/js/captions.js"></script>
<% include partials/footer %>