<% include partials/header %>
<div class="back">
	<a href="/1975/dodger"><i class="fas fa-arrow-left"></i> Dodger</a>
</div>
<div class="event-title">
	<h1>Dodger Stadium On Stage Photos</h1>
</div>
<div class="desc">
	<p>
		Two-day event opening for Elton John at Dodger Stadium in Los Angeles, California with separate files for on-stage performance and back stage activities. Nicolette Larsen was a guest performer with Emmy. Look for a special photo with James Burton and Joe Walsh, who both would be inducted in the Rock and Roll Hall of Fame. For more information on this event, please go to <a href="/dodgerphoto" style="font-weight: 700;">The Dodger Stadium Photo page</a>.
	</p>
</div>

<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/7-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-2.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-13.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-14.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-16.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-17.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-20.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-21.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-22.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-23.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-24.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-25.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-26.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-27.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-28.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-29.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-30.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-31.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-32.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-33.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-41.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-42.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-43.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-44.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-49.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-50.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-51.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-52.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-53.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-54.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-55.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-56.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-57.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-58.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-59.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-60.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-61.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-66.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-67.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-68.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-69.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-70.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-88.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-89.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-98.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-99.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-100.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-101.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-102.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-103.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-105.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-106.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-111.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-113.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-114.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-121.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-122.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-123.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-124.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-126.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-127.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-128.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-129.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-130.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-131.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-135.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-136.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-138.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-139.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-140.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-141.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-142.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-143.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-144.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-146.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-169.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-170.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-171.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-172.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-173.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-174.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-175.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-176.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-177.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-178.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-179.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-180.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-181.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-182.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-183.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-184.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-185.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-186.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-187.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-188.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-190.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-191.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-192.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-193.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-194.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-195.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-208.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-209.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-211.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-214.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-215.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-217.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-218.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-219.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-220.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-221.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-222.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-223.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-224.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-226.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-227.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-244.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-245.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-246.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-248.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-249.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-250.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-251.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-252.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-253.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-254.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-255.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-256.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-257.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-258.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-260.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-261.JPG">
	</div>
</div>
<div class="pagination">
  <div class="pages">
  	<a href="javascript:void(0)" id="previous-page">&laquo;</a>
  	<div class="page-nums">
  		
  	</div>
  	<a href='javascript:void(0)' id='next-page'>&raquo;</a>
  </div>
</div>


<script type="text/javascript" src="/js/events.js"></script>
<% include partials/footer %>