<% include partials/header %>
<div class="back">
	<a href="/1975/dodger"><i class="fas fa-arrow-left"></i> Dodger</a>
</div>
<div class="event-title">
	<h1>Dodger Stadium Backstage Photos</h1>
</div>
<div class="desc">
	<p>
		Two-day event opening for Elton John at Dodger Stadium in Los Angeles, California with separate files for on-stage performance and back stage activities. Nicolette Larsen was a guest performer with Emmy. Look for a special photo with James Burton and Joe Walsh, who both would be inducted in the Rock and Roll Hall of Fame. For more information on this event, please go to <a href="/dodgerphoto" style="font-weight: 700;">The Dodger Stadium Photo page</a>.
	</p>
</div>

<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/7-10.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-34.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-35.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-36.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-37.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-38.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-40.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-45.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-46.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-47.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-48.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-62.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-63.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-64.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-65.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-71.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-72.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-74.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-75.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-76.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-77.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-78.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-79.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-80.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-81.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-82.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-83.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-84.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-85.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-86.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-90.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-91.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-92.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-93.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-94.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-95.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-96.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-97.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-107.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-108.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-109.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-110.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-115.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-116.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-117.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-118.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-119.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-120.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-125.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-147.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-148.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-149.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-150.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-151.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-152.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-153.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-154.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-155.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-156.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-157.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-158.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-159.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-160.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-161.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-162.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-163.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-164.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-165.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-166.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-167.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-196.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-197.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-198.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-199.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-200.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-201.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-202.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-203.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-205.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-206.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-207.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-232.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-233.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-234.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-235.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-236.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-237.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-238.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-241.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-242.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/7-243.JPG">
	</div>
</div>
<div class="pagination">
	<div class="pages">
		<a href="javascript:void(0)" id="previous-page">&laquo;</a>
		<div class="page-nums">
			
		</div>
		<a href='javascript:void(0)' id='next-page'>&raquo;</a>
	</div>
</div>


<script type="text/javascript" src="/js/events.js"></script>
<% include partials/footer %>