<% include partials/header %>

<div class="container">
	<div class="title">
		<h4>The Dodger Stadium Photo</h4>
	</div>
	<div class="content">
		<div class="post">
			<div class="content-data">
				<p>Dodger Stadium Photo of Emmylou Harris and the Hot Band</p>
				<span>October 1975</span><br>
				<span>Photo and text by Dan Reeder</span>
			</div>
			<p>
				When Emmylou Harris and the Hot Band opened for Elton John’s two shows at Dodger Stadium in late
				October 1975, I went along with my cameras as part of her team. I knew the stage would be in center
				<img src="/imgs/No.7-27.jpeg" class="dodger-img left">
				<span></span>
				field, but nothing more. Since I was a photojournalist by training, I didn’t plan any special shots. I just
				went and took pictures of what I saw, both on stage and in the back among the RVs that served as
				dressing rooms. The stage was full of scaffolding and other necessary installation hardware that made
				the normal back ground a bit messy for
				my shots of Emmy. I did manage to get
				some very nice shots of her performing,
				but it was a sudden thought on the spot
				that got me a timeless photo. One that
				allowed me to get the 50,000-plus fans
				in the background and have them serve
				as my backdrop.
			</p>
			<p>
				They set the stage up so that the
				equipment for her performance and that
				of the following Joe Walsh would be
				cleared off quickly and then from behind
				a curtain they’d roll out Elton John playing his clear Lucite piano on a riser to start his show. The
				immense crowd loved it. During Emmy’s show, as I was walking around and shooting from just outside
				the inner perimeter of the stage, I noticed the riser was tight against the back of the curtain, out of the
				audience’s sight, but with room for me to squeeze in and perhaps get a shot or two by sticking by lens
				through the break in the curtains. I checked with the equipment manager to be sure it was OK and he
				said sure. I had been shooting with Emmy and the Hot Band for much of the year and they were very
				comfortable with me.
			</p>
			<p>
				So I carefully stepped on Elton John’s riser and tip-toed to the center. I gently parted the curtain by an
				inch or two and peaked through. It was a perfect spot. I was high enough to not be blocked by drummer
				John Ware and far enough back to get the entire band into the frame including pedal steel player Hank
				DeVito on the far left, piano player Glen D. Hardin on the far right and James Burton, Rodney Crowell
				and Emory Gordy in the middle with Emmy. I was using a 35mm wide angle on my Canon F1 with a
				motor drive and RGB color film and a second Canon with black and white film. So I poked the lens of my
				F1 through, adjusted my camera settings (I always shot manually) and started taking shots. No one
				seemed to notice I was there, including Ware, who was just a few feet in front of me. It was perfect. And
				then it got even more perfect, if that is possible.
			</p>
			<p>
				I usually got so engrossed with shooting that I didn’t notice what songs Emmy was singing, but this time
				it was different. She started to sing Smokey Robinson’s Shop Around in a roaring rocking version that
				allowed lead guitarist James Burton to showcase his immense skills. (I had been told it was James who
				impressed Elton John at an earlier show that led to the invitation to Emmy to open his shows.) Up to
				that point of her show, the crowd was sleepy and seemed to be trying to figure newly solo country rock

				star Emmylou out. But when Burton, still a big part of Elvis’ Taking Care of Business Band at that time,
				started his solo on Shop Around, the crowd snapped to attention. And then as he stepped forward to
				the edge of the stage and just cut loose, Emmy stepped back to the center of the stage and turned her
				back to the crowd looking straight back in my direction. And I snapped my photos with Emmy’s face
				clearly in view, virtually the entire band in the photo and 50,000-plus people in the background of
				Dodger Stadium. Now it was perfect.
			</p>
		</div>
		<div class="post">
			<div class="content-data">
				<p>1975 Dodger Stadium Shows Backstage Notes</p>
				<span>By Dan Reeder</span>
			</div>
			<p>
				I’ve been backstage for many Emmylou Harris concerts and they are all a little different with people
				coming and going, but the two 1975 Dodger Stadium shows were something special. Since it was a
				hometown event, there were plenty of family members along. No one wanted to miss it. We were
				backstage for a long time, four or five hours, before Emmy and the Hot Band went on stage. So there
				was a lot of time to kill. There were RVs, parked directly behind center field where the stage had been
				set, serving as dressing rooms with one for Emmy and another for the band. Eventually, Emmy and
				members of the Hot Band began to sit outside the RVs, instruments in hand with family members sitting
				close by and started to rehearse the songs they’d be playing during her shows.
			</p>
			<p>
				I normally didn’t get too close during these periods so as not to distract them from their work, however,
				this setting and the photo opportunities became too good to pass up. So I stood back, away from them,
				and quietly took photos with my telephoto, getting shots of this incredible group of singers and
				musicians that I normally would miss. I just blended in with family and the stage workers milling about.
				Among the group photos, I quietly took a few shots of Emmy in the middle of this rehearsal that seemed
				special at the time. No one seemed to notice. At least I hoped. Often when a subject sees you taking
				photos of them, they stop acting natural and the resulting photos aren’t so good.
			</p>
			<p>
				And then it was show time. I had the same access pass as the members of the band, a cartoon image of
				Elton John in a Dodger uniform and the number 3, which signified that I had the run of the area
				including the stage during Emmy’s performance. It was a golden ticket. And it is one souvenir I still have.
				So I not only shot photos from my usual spot to the left of pedal steel guitarist Hank Devito, but I also
				moved around and shot from next to pianist Glen D. Hardin on the other side of the stage, from behind
				the stage as I parted the curtains and in front of the stage in the cordoned-off area right in front of the
				audience. The show went quickly and we were finished, but we stayed around for hours as first Joe
				Walsh played and then Elton John came on stage. We were relegated to the left field bleachers to watch
				the show, which seemed fine with everyone. But I decided I wanted to get home and took off after the
				first 30 minutes of Elton’s show in order to beat the traffic.
			</p>
			<p>
				Still charged up from the day’s events, I went home and stayed up for hours processing the film and
				making prints of the show and the back stage activities in my bedroom darkroom. I worked well past
				midnight, made dozens of prints, and took them back to everyone for the second show early the next
				morning. Yes, the adrenaline was still flowing. As the band members arrived, I showed them my photos
				from the day before. They seemed to be in awe. They couldn’t believe I had stayed up to get them done
				for them, since I explained I brought one or two prints for each band member. Eventually, Emmy arrived
				and I went over the photos with her. She, too, was impressed. Particularly with the natural close-ups I
				had gotten of her. Then Emmy exclaimed, “When did you take those? Certainly not yesterday?” Yes, I
				replied, when you were rehearsing. She hadn’t noticed me.
			</p>
			<span>7/19</span>
		</div>

	</div>
</div>

<% include partials/footer %>