<% include partials/header %>
<div class="landing">
	<div class="copy">
		<span>Photos of Emmylou Harris, Rodney Crowell, James Burton and other memebers of the original Hot Band, George Thorogood and other interesting subjects</span>
	</div>
	<img name="slide">
	<div class="img-number">
		<span id="img-title"></span>
	</div>
	
</div>

<% include partials/footer %>