<% include partials/header %>
<div class="landing">
	<div class="copy">
		<span>Photos of Emmylou Harris, Rodney Crowell, James Burton and other members of the original Hot Band, George Thorogood and other interesting subjects</span>
	</div>
	<img name="slide">
	<div class="img-number">
		<span id="img-title"></span>
	</div>
</div>
<script type="text/javascript" src="/js/index.js"></script>
<% include partials/footer %>