<% include partials/header %>
<div class="event-title">
	<h1>Long Beach Festival</h1>
</div>
<div class="desc">
	<p>
		First Annual Banjo, Fiddle and Guitar Festival at California State University, Long Beach in California with Linda Ronstadt and Byron Berline on fiddle. My first real shoot. I got some nice shots, including one of Emmy and her good friend Linda, and did well enough to be asked back.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/2-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-2.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-10.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-14.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-16.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-20.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-21.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-22.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-23.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-24.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-25.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-26.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-27.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/2-28.JPG">
	</div>
</div>
<div class="pagination">
  <a href="#">&laquo;</a>
</div>
<script type="text/javascript" src="/js/events.js"></script>
<% include partials/footer %>