<% include partials/header %>
<div class="back">
	<a href="/1975"><i class="fas fa-arrow-left"></i> 1975 Events</a>
</div>
<div class="event-title">
	<h1>Long Beach State with Byron Berline</h1>
</div>
<div class="desc">
	<p>
		Nighttime show inside men's gymnasium at California State University, Long Beach in California with Byron Berline on fiddle.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/6-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-6 - B&W.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-7 -B&W.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-13.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-14.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-17.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-20.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-22.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-24.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-25.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-27.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-28.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/6-29.JPG">
	</div>
</div>
<div class="pagination">
  <div class="pages">
  	<a href="javascript:void(0)" id="previous-page">&laquo;</a>
  	<div class="page-nums">
  		
  	</div>
  	<a href='javascript:void(0)' id='next-page'>&raquo;</a>
  </div>
</div>
<script type="text/javascript" src="/js/events.js"></script>



<% include partials/footer %>