<% include partials/header %>
<div class="event-title">
	<h1>Long Beach State Lunchtime</h1>
</div>
<div class="desc">
	<p>
		Lunchtime at California State University, Long Beach in California. My first shoot with Emmy. And it was at my school where I had been editor of the daily newspaper a few years earlier. I had been asked by my friend, Steve Redfearn, if I had a camera and could take some photos. I had been a sports writer for many years but knew how to take photos and develop them at home, or so I thought. I would learn.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/1-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/1-13.JPG">
	</div>
</div>
<div class="pagination">
  <a href="#">&laquo;</a>
</div>
<script type="text/javascript" src="/js/events.js"></script>



<% include partials/footer %>