<% include partials/header %>
<div class="event-title">
	<h1>Other Photos of Interest</h1>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/Bellagio Fountains.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Condor over the Grand Canyon.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Girl on the Balcony Mission Inn.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Hawaii 2012 Tortoise.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Hawaii North Shore.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Moonrise over Hawaiian Village.jpg">
	</div>
	<div class="gallery-img">
		<img src="/imgs/Watching the Game 1980.jpg">
	</div>
</div>
<div class="pagination">
  <div class="pages">
  	<a href="javascript:void(0)" id="previous-page">&laquo;</a>
  	<div class="page-nums">
  		
  	</div>
  	<a href='javascript:void(0)' id='next-page'>&raquo;</a>
  </div>
</div>
<script type="text/javascript" src="/js/events.js"></script>
<% include partials/footer %>