<% include partials/header %>
<div class="back">
	<a href="/1975"><i class="fas fa-arrow-left"></i> 1975 Events</a>
</div>
<div class="event-title">
	<h1>Palomino</h1>
</div>
<div class="desc">
	<p>
		Performing at the world famous Palomino Night Club in North Hollywood, California.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/9-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-13.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-16.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-17.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-21.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-22.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-23.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-24.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-25.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-27.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-28.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-30.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-31.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-33.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-34.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-37.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-38.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-39.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-40.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-41.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-42.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-43.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-44.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-45.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-46.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-47.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-49.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-51.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-52.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-53.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-54.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-55.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-56.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-57.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-61.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-63.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-66.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-67.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/9-68.JPG">
	</div>
</div>
<div class="pagination">
  <a href="javascript:void(0)" id="previous-page">&laquo;</a>
</div>


<script type="text/javascript" src="/js/events.js"></script>
<% include partials/footer %>