<% include partials/header %>
<div class="back">
	<a href="/1975"><i class="fas fa-arrow-left"></i> 1975 Events</a>
</div>
<div class="event-title">
	<h1>Rodney at Long Beach State Cafe</h1>
</div>
<div class="desc">
	<p>
		Rodney Crowell performing in 49er Café at California State University, Long Beach in California with Nicolette Larsen sitting in.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/8-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-2.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-8.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-10.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-11.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-13.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-14.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-16.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-17.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-21.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-22.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-23.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-24.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-25.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-26.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-27.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-28.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-29.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-30.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-31.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-32.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-34.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-35.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-36.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-37.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-38.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/8-39.JPG">
	</div>
</div>
<div class="pagination">
  <div class="pages">
  	<a href="javascript:void(0)" id="previous-page">&laquo;</a>
  	<div class="page-nums">
  		
  	</div>
  	<a href='javascript:void(0)' id='next-page'>&raquo;</a>
  </div>
</div>
<script type="text/javascript" src="/js/events.js"></script>



<% include partials/footer %>