<% include partials/header %>
<div class="event-title">
	<h1>Roxy</h1>
</div>
<div class="desc">
	<p>
		Roxy Nightclub in Hollywood, California. Very low light conditions, as was the case in most of her earlier indoor shows. 
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/3-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-8.JPG">
	</div>
</div>




<% include partials/footer %>