<% include partials/header %>
<div class="back">
	<a href="/1975"><i class="fas fa-arrow-left"></i> 1975 Events</a>
</div>
<div class="event-title">
	<h1>Roxy</h1>
</div>
<div class="desc">
	<p>
		Roxy Nightclub in Hollywood, California. Very low light conditions, as was the case in most of her earlier indoor shows. 
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/3-1.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-4.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-5.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/3-8.JPG">
	</div>
</div>
<div class="pagination">
  <div class="pages">
  	<a href="javascript:void(0)" id="previous-page">&laquo;</a>
  	<div class="page-nums">
  		
  	</div>
  	<a href='javascript:void(0)' id='next-page'>&raquo;</a>
  </div>
</div>
<script type="text/javascript" src="/js/events.js"></script>



<% include partials/footer %>