<% include partials/header %>

<div class="container">
	<div class="sale-container">
		<div class="title">
			<h4>Photos For Sale Information</h4>
		</div>
		<div class="content">
			<p>
				All photos, including those contained in the book, are for sale. Print sizes include 4x6, 5x7, 8x10, 8-1/2x11, 11x14, 13x19, 16x20 and 17x22 as well as custom sizes. Special prices for media publication. Please contact me for specific pricing information. Minimum order is $50. All sales include shipping and handling. 
			</p>
		</div>
		<div class="title">
			<h4>The "Book"</h4>
		</div>
		<div class="content">
			<p>
				The Book, or any of the individual photos, are available for purchase. Please contact me at <a href="mailto: dan.reeder@att.net" style="font-weight: 700;">dan.reeder@att.net</a> for purchase details.
			</p>
		</div>
		<div class="title">
			<h4>Contact</h4>
		</div>
		<div class="content">
			<p>
				Please contact me at <a href="mailto: dan.reeder@att.net" style="font-weight: 700;">dan.reeder@att.net</a> 
			</p>
		</div>
	</div>
</div>
<% include partials/footer %>