<% include partials/header %>
<div class="event-title">
	<h1>Starlight Bowl</h1>
</div>
<div class="desc">
	<p>
		Starlight Bowl in Burbank, California. Again very low light conditions. Made it tough to get good shots.
	</p>
</div>
<div class="gallery">
	<div class="gallery-img">
		<img src="/imgs/5-2.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-3.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-6.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-7.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-9.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-10.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-12.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-14.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-15.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-18.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-19.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-20.JPG">
	</div>
	<div class="gallery-img">
		<img src="/imgs/5-21.JPG">
	</div>
</div>
<div class="pagination">
  <a href="#">&laquo;</a>
</div>
<script type="text/javascript" src="/js/events.js"></script>



<% include partials/footer %>