.events-container{
	width: 100%;
	min-height: calc(100vh - 125px);	
}
.event-title{
	width: 100%;
	height: 15vh;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.event-title h1{
	margin: 0;
}
.desc{
	width: 800px;
	margin: 0 auto;
}
.grid{
	width: 100%;
	height: 85vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}
.grid a{
	width: 32%;
	height: 32%;
	margin: 0.66%;
}
.events{
	width: 100%;
	height: 100%;
	position: relative;
}
.events img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 25px;
}
.event-cover{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0,0.7);
	color: white;
	transition: background 0.2s ease;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 25px;
}
.event-name{
	font-size: 1.5em;
	text-align: center;
	transition: font-size 0.2s ease;
	font-family: 'Teko', sans-serif;
}
.event-cover:hover{
	background: rgba(255,255,255,0.2);
}
.event-cover:hover .event-name{
	font-size: 1.8em;
}

.gallery{
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.gallery-img{
	width: 400px;
	height: 400px;
	padding: 10px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.gallery-img img{
	width: 100%;
	object-fit: contain;
}
.back{
	position: sticky;
	position: -webkit-sticky;
	top: 70px;
	left: 0;
	margin: 15px;
	height: 40px;
	width: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	font-weight: 700;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	transition: background 0.3s ease, color 0.3s ease;
}
.back a{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.back:hover{
	background: black;
	color: white;
}
.twoByTwo{
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 0 auto;

}
.twoByTwo-item{
	width: 48%;
	margin: 1%;
	height: 40vh;
	position: relative;
	border-radius: 25px;
	padding: 
}
.twoByTwo-item img{
	width: 100%;
	height: 100%;
	border-radius: 25px;
	object-fit: cover;
}

@media screen and (max-width: 800px){
	.grid a:focus .event-cover{
		background: rgba(255,255,255,0.2);
	}
	.event-title{
		height: 100px;
	}
	.events-container{
		height: auto;
	}
	.grid{
		height: auto;
	}
	.grid a{
		width: 48%;
		height: 30vh;
		margin: 1%;
	}
	.events img{
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	.event-cover{
		border-radius: 0;
	}
	.event-name{
		font-size: 5vw;
	}
	.desc{
		width: 100%;
		padding: 10px; 
		box-sizing: border-box;
	}
	.gallery{
		width: 100%;
		flex-direction: column;
	}
	.gallery-img{
		width: 100%;
		height: auto;
		padding: 0;
		margin: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.twoByTwo-item img{
		border-radius: 0;
	}
	
}









