.menu{
	height: 55px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0px -5px 14px 3px rgba(0,0,0,0.4);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #fff;
	z-index: 10;
}
.menu a{
	text-decoration: none;
	color: #000;
}
.menu a:hover{
	color: #999;
}
#header{
	width: 50%;
	text-align: right;
	font-size: 1.5em;
}
#menu-items{
	width: 50%;
	text-align: right;
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
}
#drop-down{
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.drop-down-menu{
	height: calc(100vh - 55px);
	top: 55px;
	right: 0;
	display: flex;
	position: fixed;
	flex-direction: column;
	background: #fff;
	overflow-y: scroll;
	transition: width 0.2s ease;
}
.drop-down-menu::-webkit-scrollbar{
	display: none;
}
.drop-down-menu a{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.drop-down-menu a:hover{
	background: #000;
	color: #fff;
}
#menu-items a:hover{
	cursor: pointer;
	margin: 0;
}
.blank{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 55px;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: -10;
}
.photo-options{
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 0;
	overflow-y: scroll;
	background: #f1f1f1;
	-webkit-box-shadow: inset 0px 0px 18px -2px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 0px 0px 18px -2px rgba(0,0,0,0.25);
	box-shadow: inset 0px 0px 18px -2px rgba(0,0,0,0.25);
	transition: max-height 0.4s ease;
}
.open{
	max-height: 200px;
}
.photo-item{
	height: 55px;
	box-sizing: border-box;
}
.menu-item{
	height: 55px;
	box-sizing: border-box;
}
.photo-options a{
	height: 100%;
	width: 100%;
	color: #565656;
}
.photo-options a:hover{
	cursor: pointer;
	background: #4f4f4f;
}

.photo-options::-webkit-scrollbar{
	display: none;
}
.on{
	background: #eee;
}
.off{
	background: unset;
}
.v2{
	display: flex;
}
.h2{
	display: none;
}
.visible{
	max-width: 400px;
	width: 30%;
}
.hidden{
	width: 0;
}
@media screen and (max-width: 800px){
	#header{
		width: 70%;
		font-size: 1em;
	}
	#menu-items{
		width: 30%;
	}
	.visible{
		max-width: 100%;
		width: 100%;
	}

	.drop-down-menu a{
		height: 55px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}